**/__pycache__/
*.py[cod]
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/tmp/
src/to_send/
**/.DS_Store


# Relateed to Data
data/images/
data/images_unclassified/
data/numpy/*
data/models/*
